[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-contrib-python = "==4.5.5.62"
openpyxl = "*"
pyqt5 = "*"
pyqt5-tools = "*"

[dev-packages]

[requires]
python_version = "3.9"
